<div class="container-fluid" style="background-color: white;">
    <div class="container">
        <div class="page-header" style="text-align: center;">
            <h1 id="timeline">Квестхаус - это квесты в реальности и игровое пространство</h1>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge orange"><i class="glyphicon glyphicon-pushpin"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>Квест - изначально являлся жанром компьютерной игры, но за пару лет квесты стали весьма
                            популярной интеллектуальной игрой в реальной жизни.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge yellow"><i class="glyphicon glyphicon-hourglass"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>Каждый квест длится 60 минут, за которые Ваша команда станет героями истории, которую Вам
                            нужно разгадать. Вас будут ждать загадки, головоломки, решая их, Вы сможете одержать
                            победу и выйти победителями.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge coral"><i class="fa fa-mortar-board"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>Игры такого формата существуют по всему миру и пользуются большой популярностью. Теперь у Вас
                            есть возможность испытать себя в квест-комнате. Для игры участникам не требуется специальных
                            знаний и физической силы.</p>
                    </div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="fa fa-male"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>Пройти квест можно командой от 2 до 4-х человек и быть старше 12 лет, также возможно участие
                            от 8 лет со взрослыми.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge success"><i class="fa fa-lightbulb-o"></i></div>

                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>"Квестхаус" - это больше чем просто квест... Мы объединяем идею с сюжетом в единый живой
                            «организм». Каждая комната кардинально отличается своим эксклюзивным сценарием, где есть
                            свои тайники и загадки. Буря эмоций вам гарантирована!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge purple"><i class="fa fa-gamepad"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>В игровом пространстве можно поиграть в PS 3 и настольные игры. Попить кофе и чай с вкусными
                            печеньками. Список настольных игр и на PS3 можно узнать у администратора.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="fa fa-smile-o"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-body">
                        <p>Мы всегда рады для Вас провести любое торжество у нас в игровом пространстве, где Вы можете дружно проходить квест, играть в PS3 и настольные игры.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>