<div class="container-fluid" style="background-color: #1f2225; width:100%;height: 400px;display: table;">
    <div style="display: table-cell;vertical-align: middle; text-align: center;">
        <h3 style="color:white;">TRY TO FIND OUT IN 60 MINUTES</h3>
        <a href="#" class="btn btn-danger">CHOSE YOUR MISSION</a>
    </div>
</div>

<div class="container-fluid about-place-main" style="color: white;">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <p class="key-icon"><i class="fa fa-key fa-lg" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <p class="reality-tasks key-text">GAME IN REALITY</p>
        </div>

        <div class="col-md-12" style="margin-top: 20px;">
            <div class="col-md-5">

                <div class="row">
                    <div class="row">
                        <div class="col-md-4 col-xs-12 col-xs-offset-0 col-md-offset-8">
                            <p class="reality-tasks-header t-right">TASK 01</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-xs-12 col-xs-offset-0 col-md-offset-1">
                            <p class="reality-tasks t-right">Logical problems and puzzles. No physical effort . Only wit
                                and observation. Everything is in your head. </p>
                        </div>
                    </div>
                </div>
                <div class="row m20">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">
                            <p class="reality-tasks-header t-right">COMMAND 02</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <p class="reality-tasks t-right">For the whole family and for your friends ! Your team - the
                                key to a successful passing game . Trust and partner nayditie output.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <img class="img-responsive main-key-image" src="img/home-key.png">
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="reality-tasks-header">03 TIME</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <p class="reality-tasks" style="text-align: left;">Exactly 1 hour to find a way out and get
                                out of the quest of the room, thinking all the fun and interesting puzzles on your
                                heroic journey.</p>
                        </div>
                    </div>
                </div>
                <div class="row m20">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="reality-tasks-header">04 IMPRESSION</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <p class="reality-tasks">This is an unforgettable adventure in the exciting world of
                                mystery. Only positive emotions and vivid feeling for the entire company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #1f2225; width:100%;min-height: 100px;">
    <div class="row">
        <div class="statistics">
            <div class="col-md-4 col-sm-4"><p class="count">2351</p>
                <p class="desc"> / счастивых клиентов</p></div>
            <div class="col-md-4 col-sm-4 center"><p class="count">1158</p>
                <p class="desc"> / вышло из комнат</p></div>
            <div class="col-md-4 col-sm-4"><p class="count">2158</p>
                <p class="desc"> / сыграно игр</p></div>
        </div>
    </div>
</div>


<div class="container m20">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <p class="key-icon-filled"><i class="fa fa-key fa-lg" aria-hidden="true"></i></p>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <p class="reality-tasks key-text">THE ROOMS</p>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-left: 0; padding-right: 0;">

    <div ng-repeat="quest in quests">


        <div class="row row-height" ng-if="$index%2 == 0" style="margin-left: 0; margin-right: 0;">
            <div class="col-md-6 hidden-phone" style="padding: 0;">

                <img class="img img-responsive" src="img/quest-images/14/logo_small.jpg" alt="">

            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 quest-info" style="background-color: #0c1013;">


                <div class="row" style="margin-left: 0; margin-right: 0;">
                    <div class="col-md-12" style="margin-top: 10px; color: white;">
                        <h4>
                            {{quest['id']}} {{quest['name']}}
                        </h4>

                    </div>

                    <div class="col-md-8 visible-lg description">
                        <p>{{quest['description'] | limitTo:350}}...</p>
                    </div>

                    <div class="col-md-8 hidden-lg description" style="font-size: 12px;">
                        <p>{{quest['description'] | limitTo:150}}...</p>
                    </div>

                    <div class="col-md-4">
                        <div class="quest-price-container" style="margin: 0 auto;">
                            <p class="quest-price">
                                4561 грн
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row additional-info" style="text-align: left; font-size: 12px;">
                            <div class="col-md-4 col-xs-12">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Водопроводная 1 А{{quest['address']}}</p>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <p><i class="fa fa-users" aria-hidden="true"></i> 2 - {{quest['people']}} человек</p>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{quest['time']}}60 минут</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px;">
                        <a href="quest/{{quest['id']}}" class="btn btn-sm btn-danger">ПОДРОБНЕЕ</a>
                    </div>

                </div>


            </div>
        </div>


        <div class="row row-height" ng-if="$index%2 != 0" style="margin-left: 0; margin-right: 0;">
            <div class="col-md-6 visible-xs visible-sm" style="padding: 0;">

                <img class="img-responsive" src="img/quest-images/14/logo_small.jpg" alt="">

            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 quest-info" style="background-color: #0c1013; color: white;">


                <div class="row" style="margin-left: 0; margin-right: 0;">
                    <div class="col-md-12" style="margin-top: 10px; color: white;">
                        <h4>
                            {{quest['id']}} {{quest['name']}}
                        </h4>

                    </div>

                    <div class="col-md-8 visible-lg description">
                        <p>{{quest['description'] | limitTo:350}}...</p>
                    </div>

                    <div class="col-md-8 hidden-lg description" style="font-size: 12px;">
                        <p>{{quest['description'] | limitTo:150}}...</p>
                    </div>

                    <div class="col-md-4">
                        <div class="quest-price-container" style="margin: 0 auto;">
                            <p class="quest-price">
                                321312 {{quest['min_price']}} грн
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row additional-info" style="text-align: left; font-size: 12px;">
                            <div class="col-md-4 col-xs-12">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Водопроводная 1 А{{quest['address']}}</p>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <p><i class="fa fa-users" aria-hidden="true"></i> 2 - {{quest['people']}} человек</p>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{quest['time']}}60 минут</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px;">
                        <a href="#" class="btn btn-sm btn-danger">ПОДРОБНЕЕ</a>
                    </div>
                </div>


            </div>
            <div class="col-md-6 hidden-xs hidden-sm" style="padding: 0;">

                <img class="img-responsive" src="img/quest-images/14/logo_small.jpg" alt="">

            </div>
        </div>

    </div>

    <!-- <div class="row row-height">

         <div class="col-md-6 visible-xs visible-sm">

             <img class="img-responsive" src="img/quest-images/14/logo_small.jpg" alt="">

         </div>

         <div class="col-md-6 col-sm-12 quest-info" style="background-color: #090c0e;">
             <div class="row">
                 <div class="col-md-12">
                     <div class="col-md-9">1 das reg erg erg er as,mkdfijao foehghwegwe gwe</div>
                     <div class="col-md-3">
                         <div class="quest-price-container">
                             <p class="quest-price">
                                 666 грн
                             </p>
                         </div>
                     </div>
                 </div>
                 <div class="row additional-info">
                     <div class="col-md-2">55 Wall Street</div>
                     <div class="col-md-2">{{quest.description}} people</div>
                     <div class="col-md-2">60 minutes</div>
                     <div class="col-md-6"></div>
                 </div>
             </div>


         </div>
         <div class="col-md-6 hidden-xs hidden-sm">

             <img class="img-responsive" src="img/quest-images/14/logo_small.jpg" alt="">

         </div>

     </div>-->

</div>

<!--

<div class="container-fluid">
    <div class="row">

        <div ng-repeat="quest in quests">

            <div class="row is-table-row" ng-if="$index%2 == 0">
                <div class="col-md-6 quest-list-image" style="padding: 0;">
                    <img class="img-responsive" ng-src="img/quest-images/{{quest.id}}/main.jpg">
                </div>
                <div class="col-md-6 quest-info">
                    <div class="col-md-9">
                        <h3>{{quest.name}} {{quest.id}}</h3>
                        <div class="description">
                            <p>{{quest.description}}</p>

                            <div class="row additional-info">
                                <div class="col-md-4">55 Wall Street</div>
                                <div class="col-md-4">{{quest.description}} people</div>
                                <div class="col-md-4">60 minutes</div>
                            </div>

                        </div>
                        <div class="row select-game-button">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-danger">ВЫБРАТЬ ИГРУ</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="quest-price-container" style="margin: 20px auto;">
                            <p class="quest-price">
                                666 грн
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row is-table-row" ng-if="$index%2 != 0">
                <div class="col-md-6 quest-info">

                    <div class="col-md-9">
                        <h3>{{quest.name}} {{quest.id}}</h3>
                        <div class="description">
                            <p>{{quest.description}}</p>
                            <div class="row additional-info">
                                <div class="col-md-4">55 Wall Street</div>
                                <div class="col-md-4">{{quest.people}} people</div>
                                <div class="col-md-4">60 minutes</div>
                            </div>

                        </div>
                        <div class="row select-game-button">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-danger">ВЫБРАТЬ ИГРУ</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="quest-price-container" style="margin: 20px auto;">
                            <p class="quest-price">
                                666 грн
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 quest-list-image" style="padding: 0;">
                    <img class="img-responsive" ng-src="img/quest-images/{{quest.id}}/main.jpg">
                </div>
            </div>


        </div>


        &lt;!&ndash;<div class="col-md-12">
            <div class="row">
                <div class="col-md-6 quest-info">

                    <div class="col-md-9">
                        <h3>Lorem ipsum dolor sit amet</h3>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>

                            <div class="row additional-info">
                                <div class="col-md-4">55 Wall Street</div>
                                <div class="col-md-4">2 - 4 people</div>
                                <div class="col-md-4">60 minutes</div>
                            </div>

                        </div>
                        <div class="row select-game-button">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-danger">ВЫБРАТЬ ИГРУ</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="quest-price-container" style="margin: 20px auto;">
                            <p class="quest-price">
                                666 грн
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 quest-list-image" style="padding: 0;">
                    <img class="img-responsive" src="img/quest-images/1.jpg">
                </div>
            </div>
        </div>

    </div>

</div>
-->
