<jssor-slider></jssor-slider>


<div class="container" style="padding-left: 0; padding-right: 0; margin-top: 50px; margin-bottom: 50px;">

    <!--
        <div class="container-fluid" style="margin-left: 0; margin-right: 0;">
            <jssor-slider></jssor-slider>
        </div>
    -->

    <div class="row" style="margin-right: 0; margin-left: 0;">

        <div class="col-md-7 col-md-offset-1">
            <h3>{{quest['name']}}</h3>
            <p style="text-align: left;color: #1f2225; font-size: 1.2em; line-height: 200%;">
                {{quest['description']}}</p>

            <div class="quest-rules">
                <p>Минимальный возрас: 16 лет.</p>
                <p>Старайтесь не опоздать и приходите в удобной обуди и одежде</p>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1" style="margin:0;">
            <div class="quest-price-div">
                <p>666 ГРН</p>
            </div>
            <div class="quest-params-div">
                <div style="display:table; margin:0 auto;">

                    <p><span><i class="fa fa-users" aria-hidden="true"></i></span> 2 - 4 Человека</p>
                    <p><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 60 Минут</p>
                    <p><span>
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</span> Водопроводная 1 А</p>
                </div>
                <!--<button type="button" class="btn btn-danger">ЗАБРОНИРОВАТЬ</button>-->
            </div>
        </div>


    </div>

</div>

<div my-map=""></div>

<div class="container-fluid" style="background-color: white;padding-left: 0; padding-right: 0;">
    <div class="row" ng-class="{'seven-cols' : bookingByDate}" style="margin-left: 0; margin-right: 0;">

        <div class="container">
            <h3 style="text-align:center;">Таблица брони на квест "{{quest.name}}"</h3>
            <div class="col-md-12" style="text-align: center; margin-bottom: 25px;">
                <h2>{{bookingType}}</h2>
                <a href="#" class="btn quest-button-sm" ng-click="setDateBookingView()">Бронь по дням</a>
                <a href="#" class="btn quest-button-sm" ng-click="setTimeBookingView()">Бронь по времени</a>
            </div>

            <div ng-if="bookingByTime">
                <div ng-repeat="date in bookingData">

                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-1 booking-date-div">
                                <div class="inner">
                                    <p>{{date['display_date']['day']}}</p>
                                    <p>{{date['display_date']['month']}}</p>
                                </div>
                            </div>
                            <div class="col-md-11">

                                <div class="booking-time-div"
                                     ng-style="{'width':100/date['time'].length+'%'}"
                                     ng-repeat="time in date['time']">
                                    <div class="inner">
                                        <p>{{time['value']}}</p>
                                        <p>{{time['price']}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 0; margin-right: 0;" ng-if="bookingByDate">

                <!-- <div class="calendar-date" style="width:12,3%; margin-left: 10px; margin-top: 10px; float: left; border: 5px solid #ebf2f6; padding: 15px; text-align:center;"> -->
                <div class="col-md-1 calendar" ng-repeat="bookingDate in bookingData"
                     ng-class="{'blocked' : availableTimesCount(bookingDate) == 0}">


                    <p class="date">{{bookingDate['display_date']['day']}}</p>
                    <p class="date">{{bookingDate['display_date']['month']}}</p>


                    <div ng-hide="availableTimesCount(bookingDate)==0">
                        <!--<p class="date">Доступно : {{availableTimesCount(bookingDate)}}</p>-->
                        <p class="date">{{bookingDate['display_date']['day_name']}}</p>
                    </div>

                    <div ng-show="availableTimesCount(bookingDate)==0">
                        <p style="color: #fb383c;">Брони нет</p>
                    </div>

                    <a type="button" class="btn quest-button-b-sm"
                       ng-disabled="availableTimesCount(bookingDate)==0"
                       ng-click="showBookingModal(bookingDate,availableTimesCount(bookingDate))">БРОНЬ
                    </a>
                </div>
            </div>


        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="booking_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Бронь на "{{quest.name}}"</h4>
                </div>

                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="formErrorMessage.length>0">
                        <p ng-repeat="message in formErrorMessage">{{message}}</p>
                    </div>
                    <div class="alert alert-success" ng-show="bookingMessage">
                        <strong>{{bookingMessage}}</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-5">

                                <div class="checkbox checkbox-danger booking-time-list"
                                     ng-repeat="time in modalBookingTime['time']">

                                    <input id="checkbox{{$index+1}}" ng-model="time.selected" type="checkbox"
                                           ng-click="updateSelection($index, modalBookingTime['time'])"
                                           ng-disabled='time["is_booked"]=="true"'>
                                    <label for="checkbox{{$index+1}}"
                                           ng-class='{"time-booked": time["is_booked"]=="true"}'>
                                        <p>На {{time['value']}} - {{time['price']}} грн.</p>
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-7">
                                <form class="booking-form">
                                    <!--<div class="form-group">

                                        <input type="email" class="form-control"
                                               ng-model="quest.userName"
                                               placeholder="Email">
                                    </div>-->

                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="booking.userName"
                                               placeholder="Ваше имя">
                                    </div>
                                    <div class="form-group">

                                        <input type="text" class="form-control"
                                               name="user_phone"
                                               ng-model="booking.userPhone"
                                               placeholder="Телефон для связи">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control"
                                                  ng-model="booking.userRequest"
                                                  rows="5"
                                                  cols="40"></textarea>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn quest-button" ng-click="bookTime(modalBookingTime)">Забронировать
                    </button>
                    <button type="button" class="btn quest-button-b" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

