<jssor-slider></jssor-slider>


<div class="container" style="padding-left: 0; padding-right: 0; margin-top: 50px; margin-bottom: 50px;">

    <!--
        <div class="container-fluid" style="margin-left: 0; margin-right: 0;">
            <jssor-slider></jssor-slider>
        </div>
    -->

    <div class="row" style="margin-right: 0; margin-left: 0;">

        <div class="col-md-7 col-md-offset-1">
            <h3>{{quest['name']}}</h3>
            <p style="text-align: left;color: #1f2225; font-size: 1.2em; line-height: 200%;">{{quest['description']}}</p>

            <div class="quest-rules">
                <p>Minimum age of participants: 16 years.</p>
                <p>Please come on in quest of comfortable shoes without heels</p>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1" style="margin:0;">
            <div class="quest-price-div">
                <p>666 ГРН</p>
            </div>
            <div class="quest-params-div">
                <div style="display:table; margin:0 auto;">

                    <p><span><i class="fa fa-users" aria-hidden="true"></i></span> 2 - 4 Человека</p>
                    <p><span><i class="fa fa-clock-o" aria-hidden="true"></i></span> 60 Минут</p>
                    <p><span>
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</span> Водопроводная 1 А</p>
                </div>
                <button type="button" class="btn btn-danger">ЗАБРОНИРОВАТЬ</button>
            </div>
        </div>


    </div>

</div>

<div my-map=""></div>

<div class="container-fluid" style="background-color: white;padding-left: 0; padding-right: 0;">
    <div class="row seven-cols" style="margin-left: 0; margin-right: 0;">

        <div class="container">
            <h3 style="text-align:center;">Август 2015</h3>
            <div class="row" style="margin-left: 0; margin-right: 0;">

                <!-- <div class="calendar-date" style="width:12,3%; margin-left: 10px; margin-top: 10px; float: left; border: 5px solid #ebf2f6; padding: 15px; text-align:center;"> -->
                <div class="col-md-1 calendar" ng-repeat="bookingDate in booking">
                    <h3>01</h3>
                    <p>Available: 1</p>
                    <button type="button" class="book" data-toggle="modal" data-target="#myModal">БРОНИРОВАТЬ</button>
                </div>
            </div>
        </div>


    </div>
</div>
