.glyphicon {
    line-height: 0;
    top: 3px;
}

::-webkit-scrollbar {
    width: 9px;
    height: 3px;
    background: #090c0e;
}

::-webkit-scrollbar-thumb {
    background-color: #1f2225;
    border: 1px solid #1f2225;
}

html, body {
    background-color: #ebf2f6;
    font-family: 'Open Sans', sans-serif;
}

/********************************************************BUTTON*************************************************************/
.quest-button-b {
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 14px;
    background-color: #1f2225;
}

/*.quest-button-b-sm :hover, .quest-button-b-sm:focus, .quest-button-b-sm:active, .quest-button-b-sm.active {
    color: white;
    background-color: #00b3db;
    border-color: #285e8e; !*set the color you want here*!
}*/

.btn:hover, .btn:focus, .btn.focus {
     color: white;
}

.quest-button-b-sm {

    border-radius: 0;
    color: white;
    text-transform: uppercase;

    font-size: 12px;
    background-color: #1f2225;
}

.quest-button {
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 14px;
    background-color: #fb383c;
}

/********************************************************BUTTON*************************************************************/
/*NAVBAR BEGIN***********************************************************************************************************************/
.navbar {
    background-color: #1f2225;
    /*position: absolute;
    width:100%;*/
    border-radius: 0;
    border-bottom: 1px solid #4c4e51;
    margin-bottom: 0px;
}

.navbar .nav-icons {
    display: inline;
    margin-left: 5px;
    font-size: 16px;
}

.navbar a {
    color: #ffffff;
}

.navbar ul li a:hover {
    background-color: #1f2225;
}

.navbar ul li a:focus {
    background-color: #1f2225;
}

.navbar ul li a:hover {
    color: #fb383c;
}

.navbar a.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
}

.navbar ul li a {
    /*padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;*/
}

button.navbar-toggle {
    padding-top: 20px;
}

button.navbar-toggle span {
    background-color: #ffffff;
}

/*NAVBAR END*************************************************************************************************************************/

div.about-place-main {
    padding-top: 6%;
    padding-bottom: 10%;
    background: url(../img/home-circles.png) no-repeat center;
    background-color: #090c0e;
}

p.key-icon, p.key-text, p.key-icon-filled {
    text-align: center;
}

p.key-icon-filled i {
    color: white;
    background: #fb383c;
    padding: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #fb383c;
}

p.key-icon i {
    padding: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #fb383c;

}

img.main-key-image {
    margin: 0 auto;
    padding-left: 15px;
}

p.reality-tasks {
    font-size: 1.1em;
    color: #969fa7;
}

p.reality-tasks-header p {

}

/*QUESTS END*************************************************************************************************************************/

.row-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.quest-info .description {
    color: #cfcfcf;
}

.quest-info .description p {
    /*margin-top: 25px;*/
    /*min-height: 80px;*/
    font-size: 1.1em;
    color: #cfcfcf;
}

.quest-info {
    background-color: #090c0e;
    /*padding: 2%;*/
}

.quest-info .quest-price-container {
    border-radius: 50%;
    border: 1px solid white;
    width: 100px;
    height: 100px;
}

.quest-info .additional-info {
    margin-top: 10px;
    color: #cfcfcf;
}

.quest-info .quest-price {
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}

.quest-info h3 {
    color: white;
}

/*QUESTS BEGIN***********************************************************************************************************************/
/*FOOTER BEGIN***********************************************************************************************************************/
.footer {
    background-color: #1f2225;
    color: white;
}

.footer p {
    color: #686d72;
}

.footer .social-icons {

    text-align: right;
}

.footer .social-icons a {
    color: white;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #fb383c;
}

.footer .social-icons span {
    /*	display: inline;
        padding: 15px;
        color: white;
        margin-left: 10px;
        background:#16181a;
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
        -o-border-radius:100%;
        border-radius:100%;
        border:1px solid #16181a;*/
    margin-left: 10px;
    background-color: white;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #16181a;
    background: #16181a;
    font-size: 18px;
}

/*FOOTER END***********************************************************************************************************************/
/*SLIDER BEGIN***********************************************************************************************************************/
.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 200px !important;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*SLIDER END***********************************************************************************************************************/
/*QUEST PAGE BEGIN*****************************************************************************************************************/
.quest-price-div {
    background-color: #1f2225;
    color: white;
    text-align: center;
}

.quest-price-div p {
    padding: 30px;
    font-size: 30px;
}

.quest-params-div {
    background-color: white;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.quest-params-div span {
    margin-right: 5px;
    color: #fb383c;
}

.quest-params-div p {
    padding: 15px;
    font-size: 18px;
    text-align: left;
}

.quest-rules {
    border-left: 4px solid #fb383c;
}

.quest-rules p {
    color: #1f2225;
    padding-top: 15px;
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 0;
}

#map {
    width: 100%;
    height: 350px;
    background-color: #CCC;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 12.285714285714285714285714285714%;
        *width: 12.285714285714285714285714285714%;
    }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 12.285714285714285714285714285714%;
        *width: 12.285714285714285714285714285714%;
    }
}

.seven-cols .calendar {
    margin: 10px;
    border: 3px solid #dde5e9;
    padding: 10px;
    text-align: center;
}

.seven-cols .calendar.blocked .quest-button-b-sm {
    background-color: #ebf2f6;
}

.seven-cols .calendar.blocked button.book {
    background-color: #ebf2f6;
    cursor: not-allowed;
}

.seven-cols .calendar.current button.book {
    background-color: #fb383c;
}

button.book {
    padding: 5px 5px;
    background-color: #1f2225;
    color: white;
    border: 0 none;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*QUEST PAGE END*******************************************************************************************************************/
/**********************************CONTACT PAGE******************************************/
i.fa-1_5x {
    font-size: 1.5em;
}

.contact-info i {
    /*font-size: 24px;*/
    color: #fc7073;
}

.contact-info p {
    text-align: left;
    font-size: 16px;
}

.contact-form .form-group input {
    margin-top: 30px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid white;
    box-shadow: none;
    border-bottom: 1px solid #dcdee0;
}

/**********************************CONTACT PAGE******************************************/
/*****************************************STATISTICS****************************************************************/
.statistics {
    height: 100%;
    text-align: center;
}

.statistics div {
    height: 100%;
}

.statistics .center {
    border-right: 1px solid #353638;
    border-left: 1px solid #353638;
}

.statistics p {
    vertical-align: middle;
    display: inline;
    line-height: 100px;
}

.statistics p.count {
    font-size: 25px;
    color: white;
}

.statistics p.desc {
    font-size: 16px;
    color: #6c7176;
}

/*****************************************STATISTICS****************************************************************/
/********************************************************BOOKING*****************************************************/
label.time-booked {
    text-decoration: line-through;
}

#booking_modal .modal-content {
    border-radius: 0;
    box-shadow: none;
}

#booking_modal .close {
    font-size: 30px;
}

#booking_modal .modal-header, #booking_modal .modal-body, #booking_modal .modal-footer {
    border: none;
}

.booking-form textarea {
    box-shadow: none;
    border: 1px solid #dcdee0;
    border-radius: 0;
    resize: none;
}

.booking-form input {
    margin-bottom: 20px;
    font-size: 12px;
    color: #6c7176;
    border-radius: 0;
    /*border: 1px solid white;*/
    box-shadow: none;
    border: 1px solid #dcdee0;
}

.booking-time-list p {
    margin-left: 10px;
}

.booking-time-list {
    color: #6c7176;
}

.calendar p.date {
    font-size: 16px;
    color: #1f2225;
    /*font-weight: 600;*/
}

/********************************************************BOOKING*****************************************************/